# General
COMPOSE_PROJECT_NAME=tsdb-pgrst-1
DOMAIN=my.domain.com

# PostgREST
PGRST_OPENAPI_SERVER_PROXY_URI=https://db.$DOMAIN
PGRST_USER=authenticator
PGRST_PASSWORD=changeme
# see Readme / Auth
PGRST_JWT_SECRET={"kty":"RSA","e":"AQAB","kid": "abc"}
PGRST_ROLE_CLAIM_KEY='.resource_access.postgrest.roles[0]'

# Pgadmin
PGADMIN_DEFAULT_EMAIL=admin@host.com
PGADMIN_DEFAULT_PASSWORD=changeme

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=postgres

# Keycloak
KEYCLOAK_ADMIN_PASSWORD=changeme
KEYCLOAK_DB_PASSWORD=changeme
KEYCLOAK_SERVER=auth.$DOMAIN



